{% load static %}
<html>

    <head>
        <title>As teorias mais loucas de todos os tempos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">

        <link rel="stylesheet" href="{% static 'blog/style.css' %}">
        <link rel="shortcut icon" href="{% static 'blog/favicon.ico' %}"/>
    </head>

    <body>

        <body>
            <div class="page-header">
                <div class="row">
                    <div class="col-xs-7 col-sm-7 col-md-7">
                        <h1><a class="fonte fogo" href="{% url 'post_list' %}">As teorias mais loucas de todos os tempos</a></h1>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5" align="right">
                        {% if user.is_authenticated %}
                            <span class="fonte">Bem vindo(a) {{ user.first_name }}.</span>
                            <a href="{% url 'post_new' %}" class="btn btn-primary">Adicionar</a>
                            <a href="{% url 'post_draft_list' %}" class="btn btn-secondary">Rascunhos</a>
                            <a href="{% url 'logout' %}" class="btn btn-danger">Encerrar sessão</a>
                        {% else %}
                            <a href="{% url 'login' %}" class="btn btn-info">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

            <script src="{% static 'locacao/js/jquery.min.js' %}"></script>
            <script src="{% static 'locacao/js/bootstrap.min.js' %}"></script>
        </body>
</html>
