{% load static %}
<html>

    <head>
        <title>Blog de Marcio Grazianni</title>
        <!--
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        -->
        <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/bootstrap-theme.min.css' %}">

        <link rel="stylesheet" href="{% static 'blog/css/fa-solid.min.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/fontawesome.min.css' %}">

        <link rel="stylesheet" href="{% static 'blog/style.css' %}">
        <link rel="shortcut icon" href="{% static 'blog/favicon.ico' %}"/>
    </head>

    <body>

        <body>
            <div class="page-header">
                {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}" class="btn btn-primary top-menu">Adicionar</a>
                    <a href="{% url 'post_draft_list' %}" class="btn btn-secondary top-menu">Rascunhos</a>
                    <p class="top-menu"><small style="font-size: 20px">Bem vindo(a) {{ user.username }}. <a href="{% url 'logout' %}" class="btn btn-danger">Encerrar sessão</a></small></p>
                {% else %}
                    <a href="{% url 'login' %}" class="top-menu"><span class="fas fa-user"></span></a>
                {% endif %}
                <h1 class="fonte"><a href="{% url 'post_list' %}">Blog de Marcio Grazianni</a></h1>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </body>

</html>
