{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                <b>Publicado em:</b> {{ post.published_date }} <b>Autor:</b> {{ post.author.first_name }}
            </div>
        {% else %}
            {% if user.is_authenticated and user.id == post.author.id %}
                <a class="btn btn-success" href="{% url 'post_publish' post.id %}">Publicar</a>
            {% endif %}
        {% endif %}

        {% if user.is_authenticated and user.id == post.author.id %}
            <a class="btn btn-primary" href="{% url 'post_edit' post.id %}">Alterar</a>
            <a class="btn btn-danger" href="{% url 'post_remove' post.id %}">Excluir</a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        {% autoescape off %}
        <p>{{ post.text|linebreaksbr }}</p>
        {% endautoescape %}
    </div>
{% endblock %}
